@model Wedding_RSVP.Models.ViewModels.UserAttendeesViewModel
@{
   ViewData["Title"] = "RSVP";
}

<div class="rsvp">
   <h1>RSVP</h1>
   <h6>See list of people already registered <a asp-action="RegisteredList"><u>here</u></a></h6>
   <br />
   <form class="form" asp-action="RsvpForm" method="post">
      <table class="table">
         <tr>
            <td>@Html.DisplayNameFor(model => model.User.FirstName)</td>
            <td>
               <input asp-for="@Model.User.FirstName" /><br />
               <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
            </td>
         </tr>
         <tr>
            <td>@Html.DisplayNameFor(model => model.User.LastName)</td>
            <td>
               <input asp-for="@Model.User.LastName" /><br />
               <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
            </td>
         </tr>
         <tr>
            <td>@Html.DisplayNameFor(model => model.User.Email)</td>
            <td>
               <input asp-for="@Model.User.Email" /><br />
               <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </td>
         </tr>
         <tr>
            <td>Number of Attendees (Max of 5)</td>
            <td>
               <!-- Using TextBoxFor forces ASP.NET to use a text input instead of a number input -->
               @Html.TextBoxFor(model => model.User.NumAttendees, new { @readonly=true })
               <button id="inc" class="inc-dec">
                  <i class="fa-solid fa-plus"></i>
               </button>
               <button id="dec" class="inc-dec">
                  <i class="fa-solid fa-minus"></i>
               </button>
               <br />
               <span asp-validation-for="@Model.User.NumAttendees" class="text-danger"></span>
            </td>
         </tr>
         <!--
         @for (var i = 0; i < 5; i++)
         {
            @* NOTE: You must surround i in brackets here, otherwise Razor will think its an email address *@
            <tr id="attendee@(i+1)" class="attendee-hidden">
               <td>Full Name for Attendee @(i+1)</td>
               <td>
                  @Html.TextBoxFor(model => model.Attendees[i].FullName)<br />
                  <span asp-validation-for="@Model.Attendees[i].FullName" class="text-danger"></span>
               </td>
            </tr>
         }
         -->
         <tr>
            <td><a href="javascript:history.back()">Back</a></td>
            <td><input id="submit" type="submit" value="Continue" /></td>
         </tr>
      </table>
   </form>
</div>

@section Scripts {
   <!-- JQuery 1.8.3, recieved from Google CDN -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="~/js/attendees-incdec.js"></script>
   @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
