@model Wedding_RSVP.Models.ViewModels.UserAttendeesViewModel
@{
   ViewData["Title"] = "RSVP";
}

<div class="rsvp">
   <p style="font-size: 3vw;">RSVP</p>
   <br />
   <form class="rsvp-form form" asp-action="RsvpForm" method="post">
      <table class="rsvp-table table">
         <tr>
            <td>@Html.DisplayNameFor(model => model.User.FirstName)</td>
            <td>
               <input asp-for="@Model.User.FirstName" /><br />
               <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
            </td>
         </tr>
         <tr>
            <td>@Html.DisplayNameFor(model => model.User.LastName)</td>
            <td>
               <input asp-for="@Model.User.LastName" /><br />
               <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
            </td>
         </tr>
         <tr>
            <td>@Html.DisplayNameFor(model => model.User.Email)</td>
            <td>
               <input asp-for="@Model.User.Email" /><br />
               <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
            </td>
         </tr>
         <tr>
            <td>Number of Attendees (Max of 5)</td>
            <td>
               <!-- Using TextBoxFor forces ASP.NET to use a text input instead of a number input -->
               @Html.TextBoxFor(model => model.User.NumAttendees, new { @readonly=true })
               <button id="inc" class="inc-dec">
                  <i class="fa-solid fa-plus"></i>
               </button>
               <button id="dec" class="inc-dec">
                  <i class="fa-solid fa-minus"></i>
               </button>
               <br />
               <span asp-validation-for="@Model.User.NumAttendees" class="text-danger"></span>
            </td>
         </tr>
         <tr id="after-attendees">
            <td>Song Request (Optional)</td>
            <td><input asp-for="@Model.User.SongRequest" type="text" /></td>
         </tr>
         <tr>
            <td>Anything You'd Like us to Know (Optional)</td>
            <td><textarea asp-for="@Model.User.OtherInfo" rows="4" cols="26"></textarea></td>
         </tr>
         <tr>
            <td><a href="javascript:history.back()">Back</a></td>
            <td><input id="submit" class="mybtn btn btn-primary" type="submit" value="Continue" /></td>
         </tr>
      </table>
   </form>
</div>

@section Scripts {
   <!-- JQuery 1.8.3, recieved from Google CDN -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
   <script src="~/js/attendees-incdec.js"></script>
   @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
