@model Wedding_RSVP.Models.ViewModels.GiftsViewModel
@{
   ViewData["Title"] = "Gift Registry";
}

<div class="registry">
   <div class="registry-header">
      <span style="font-size: 2vw;">See the
         <a href="~/Details/Index">
            <u>Details</u>
         </a>page for more information on the gift registry
      </span>
      <button class="confirm-btn" onclick="validateUserEmail()">My Gifts</button>
   </div>

   @if (Model.Gifts != null && Model.Gifts.Count() > 0)
   {
      <div class="gifts-list">
         @foreach (var gift in Model.Gifts)
         {
            if (gift.Available)
            {
               string imageSrc = Url.Content(gift.ImgUrl);
               <div class="gift-container">
                  <div class="tn-container">
                     <img class="thumbnail" src="@imageSrc" />
                     <div class="enlarge-text enlarge-text-hidden">
                        <b>Enlarge</b>&nbsp;
                        <i class="fa-solid fa-magnifying-glass"></i>
                     </div>
                  </div>
                  <div class="gift-btm-container">
                     <div class="gift-descr">
                        <a href="@gift.SiteUrl">Go to Website</a><br />
                        <span>@gift.Desc</span><br />
                        <span>@string.Format("${0:0.00}", gift.EstPrice)</span>
                     </div>
                     <label>
                        <!-- Hidden checkbox. Replaced by icon in the div -->
                        <input asp-for="@gift.Available" style="display: none;" type="checkbox" />
                        <div class="cbox">
                           <i class="fa-solid fa-xmark"></i>
                        </div>
                     </label>
                  </div>
               </div>
            }
         }
      </div>
      <div><input id="submit" class="confirm-btn" type="submit" value="Continue" /></div>
   }
   else 
   {
      <div>Sorry... There are currently no gifts available in the registry!</div>
   }
</div>

@section Scripts {
	<script src="~/js/gift-registry.js"></script>
}
