@model Wedding_RSVP.Models.ViewModels.UserGiftViewModel
@{
   ViewData["Title"] = "Gift Registry";
}

<div class="registry">
   <h1>Gift Registry</h1>
   @if (Model.Gifts != null && Model.Gifts.Count() > 0)
   {
      <table class="table table-gift">
         <thead>
            <tr>
               <td>@Html.DisplayNameFor(model => model.Gifts.FirstOrDefault().ImgUrl)</td>
               <td>Link</td>
               <td>@Html.DisplayNameFor(model => model.Gifts.FirstOrDefault().EstPrice)</td>
               <td>@Html.DisplayNameFor(model => model.Gifts.FirstOrDefault().Desc)</td>
               <td>Select Item</td>
            </tr>
         </thead>
         <tbody>
            @foreach (var gift in Model.Gifts)
            {
               if (gift.Available)
               {
                  <!-- if (i != ViewBag.Index)
                  {
                     This div controls whether or not elements appear disabled
                     <div class="text-muted table-secondary">
                        <style>
                           .thumbnail {
                              opacity: 0.4 !important;
                           }

                           input[type="radio"] {
                              outline: #003333 !important;
                           }
                        </style>
                  } -->
                  <!--tr class="text-muted table-secondary"-->
                  <tr>
                     @{ string imageSrc = Url.Content(gift.ImgUrl); }
                     <td><img class="thumbnail" src="@imageSrc" width=180 height=100 /></td>
                     <td><a href="@gift.SiteUrl">Go to Website</a></td>
                     <td>@string.Format("${0:0.00}", gift.EstPrice)</td>
                     <td>@gift.Desc</td>
                     <td id="radio-grp">
                        <input name="sel-item" class="radio-btn" type="radio" checked="false" />
                     </td>
                  </tr>
               }
            }
         </tbody>
      </table>
   }
   else
   {
      <h5>No Gifts have been added to the registry</h5>
   }
</div>

@section Scripts {
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script>
      $(document).ready(function() {
         $("input[name='sel-item']").change(function() {
            var radioButtons = $("#radio-grp input:radio[name='sel-item']");
            var selectedIndex = radioButtons.index(radioButtons.filter(':checked'));
            alert(selectedIndex);
         });
      });
	</script>
}
