@model Wedding_RSVP.Models.ViewModels.GiftsViewModel
@{
   ViewData["Title"] = "Gift Registry";
}

<div class="registry">
   <div class="registry-header">
      <span style="font-size: 2vw;">See the
         <a href="~/Home/Index/#qanda">
            <u>Q&amp;A</u>
         </a> for more information on the gift registry
      </span>
      <button class="confirm-btn" style="position: absolute; right: 10vw;" onclick="validateUserEmail()">My Gifts</button>
   </div>
   @if (Model.Gifts != null && Model.Gifts.Count() > 0)
   {
      <div class="gifts-list">
         @foreach (var gift in Model.Gifts)
         {
            if (gift.Available)
            {
               string imageSrc = Url.Content(gift.ImgUrl);
               <div class="gift-container">
                  <div class="tn-container">
                     <img class="thumbnail" src="@imageSrc" />
                     <div class="enlarge-text enlarge-text-hidden">
                        <b>Enlarge</b>&nbsp;
                        <i class="fa-solid fa-magnifying-glass"></i>
                     </div>
                  </div>
                  <div class="gift-descr">
                     <a href="@gift.SiteUrl">Go to Website</a>
                     <span>@gift.Desc</span>
                     <span>@string.Format("${0:0.00}", gift.EstPrice)</span>
                  </div>
                  <label>
                     <!-- Hidden checkbox. Replaced by icon in the div -->
                     <input asp-for="@gift.Available" style="display: none;" type="checkbox" />
                     <div class="cbox">
                        <i class="fa-solid fa-xmark"></i>
                     </div>
                  </label>
               </div>
            }
         }
      </div>
      <div class="registry-nav-ctrls">
         <input id="submit" class="confirm-btn" type="submit" value="Continue" />
      </div>
   }
   else 
   {
      <div>Sorry... There are currently no gifts available in the registry!</div>
   }
</div>

@section Scripts {
	<script>
      $(document).ready(function() {
         var numChecked = 0;
         var $giftContainers = $(".gift-container");
         var $tnEnlargeText = $(".enlarge-text");
         var $checkboxes = $("input[type=checkbox]");
         $checkboxes.prop("checked", false);

         // Gray out thumbnail image when mouse enters & undo on mouse exit
         $(".tn-container").hover(function() { // On mouse enter
            $(this).children(".enlarge-text").removeClass("enlarge-text-hidden");
            if (numChecked === 0) {
               $(this).children(".thumbnail").addClass("img-opaque");
            }
         }, function() { // On mouse leave
            $(this).children(".enlarge-text").addClass("enlarge-text-hidden");
            if (numChecked === 0) {
               $(this).children(".thumbnail").removeClass("img-opaque");
            }
         });

         // Resets all gift containers from looking disabled
         function clearDisabled() {
            $giftContainers.each(function() {
               $(this).removeClass("text-muted");
               $(this).find(".thumbnail").removeClass("img-opaque");
            });
         }

         // Alter CSS of gift containers and various other elements on checkbox click
         $checkboxes.click(function() {
            numChecked = 0;
            // Toggle rotation animation to make '+' become 'x' and vice versa
            $(this).siblings(".cbox").toggleClass("cbox-icon-plus", !this.checked);
            $(this).siblings(".cbox").toggleClass("cbox-icon-x", this.checked);

            $checkboxes.each(function() {
               if (this.checked) {
                  numChecked++;
               }

               // Make all gift containers have muted text and opaque thumbnail aside from those that are selected
               $(this).closest(".gift-container").toggleClass("text-muted", !this.checked);
               $(this).closest(".gift-container").find(".thumbnail").toggleClass("img-opaque", !this.checked);
            });

            if (numChecked === 0) {
               clearDisabled();
            }
         });
      });

      function validateUserEmail() {
         if (localStorage.getItem("Email") === null) {
            alert("No email is registered");
         } else {
            alert("Email is " + localStorage.getItem("Email"));
         }
      }
	</script>
}
